.namee {
   font-style: italic;
   color:black;
   font-size: 32px;
   text-align: center;
}
.p {
   font-style: italic;
   color: aqua;

}
.table {
   width:50%;
margin:auto;


}
.nav {
   background-color:#B5BABD;
   width:40%;
}
.mame{
   text-align: LEFT;
   font-size:20px;
   padding-left: 20px;
}
.info-nav{
   font-size:15px;
   
}
.info{
   font-size:15px;
}
.code{
   font-size:15px;
   padding-left: 30px;
}
.bod{
   background-color: #B5BABD;
}
.foto{
   border: 0px;
   
}
.foot{
  text-align: center;
  font-size: 15px;
}